.stack {
    min-height: 100px;
    width: 150px;
    border: 1px solid gray;
    margin: 5px;
    padding-top: 35px;
}
.stack_wrapper {
    float: left;

}

#code {
    margin-left: 40px;
    min-height:200px;
}

body {
    padding-top:50px;
}

.return_value {
    width:90px;
}

.activity {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#run_button {
    margin-top: 10px;
}
#flowy_workflow {
    padding: 0;
    margin: 0;
    font-size: 14px;
    border-radius: 0;
}
