.stack {
    min-height: 100px;
    width: 150px;
    border: 1px solid gray;
    margin: 5px;
    padding-top: 35px;
}
.stack_wrapper {
    float: left;

}

#yourcode {
    margin-left: 80px;
}

body {
    padding-top:50px;
}

.return_value {
    width:90px;
}

.activity {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#run_button {
    margin-top: 10px;
}
